* {
    font-family: 'Nokora';
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    background-image: url('/assets/img/navbar-background.png');
    border-bottom: 1px solid #D9D9D9;
}

.navbar .left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding-left: 48px
}

.navbar .left .logo {
    margin-right: 24px;
    font-size: 24px;
    font-weight: 900;
    color: black;
    text-decoration: none;
}

.navbar .left .divider {
    border-left: 1px solid black;
    width: 0px;
    height: 24px;
    background-color: black;
    margin-right: 24px;
}

.navbar .left .links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.navbar .left .links a {
    margin-right: 16px;
    color: #000;
    text-decoration: none;
}

.navbar .left .links .active {
    font-weight: bold;
}

.navbar .right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 48px;
}

.navbar .right .progress-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: 16px;
}

.navbar .right .progress-container .progress-indicator {
    height: 28px;
    width: 28px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 8px;
}

.navbar .right .progress-container .progress-indicator.active {
    background-color: #0047FF;
    color: white;
}

.navbar .right .progress-container .progress-text {
    color: darkgrey;
}

.navbar .right .progress-container .progress-text.active {
    color: black;
}

.navbar .right .progress-line {
    height: 2px;
    width: 60px;
    border-top: 2px dashed darkgrey;
    margin-right: 16px;
}

.navbar .right .progress-line.active {
    border-color: black;
}

.navbar .right .search-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 240px;
    height: 32px;
    border-radius: 16px;
    padding: 0 8px;
    background-color: #D9D9D9;
}

.navbar .right .search-box i {
    font-size: 16px;
    color: grey;
    margin-left: 8px;
}

.navbar .right .search-box input {
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 8px;
}

.navbar .right .nav-button {
    margin-left: 24px;
    font-size: 24px;
    color: black;
    background-color: #D9D9D9;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 24px;
}

.dashboard .left {
    margin-left: 48px;
}

.dashboard .left h2 {
    margin: 0px 0px 16px 0px;
}

.cart .item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    padding: 16px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.cart .item .product {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.cart .item .product-details {
    margin-left: 16px;
}

.cart .item .product .product-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.cart .item .product .product-options .size-input {
    border: 1px solid #D9D9D9;
    height: 28px;
    padding: 0 12px 0 8px;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.cart .item .product .product-options .quantity-input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.cart .item .product .product-options .quantity-input button {
    width: 32px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cart .item .prodcut .product-options .quantity-input button:active {
    background-color: darkgrey;
}

.cart .item .product .product-options .quantity-input input {
    width: 24px;
    height: 24px;
    text-align: center;
    background-color: transparent;
    border: none;
}

.cart .item .item-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 16px;
    margin-top: auto;
}

.cart .item .item-options .option-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: black;
    opacity: 0.7;
}

.cart .item .item-options .option-button i {
    margin-right: 4px;
}

.form {
    width: 100%;
}

.form .form-item {
    margin-bottom: 12px;
}

.form .form-item .form-text {
    margin: 0px 0px 6px 0px;
    font-size: 16px;
}

.form .form-item .form-text .required {
    color: red;
}

.form .form-item .form-option.select-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.form .form-item .form-option.select-button .form-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: 8px;
    width: 180px;
    color: black;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    padding: 4px 8px;
}

.form .form-item .form-option.select-button .form-button i {
    margin-right: 8px;
}

.form .form-item .form-option.select-button .form-button.active {
    color: #0047FF;
    border-color: #0047FF;
    font-weight: bold;
    border-width: 2px;
    background-color: rgba(0, 72, 255, 0.1);
}

.form .form-item .form-option.textfield {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    padding: 0px 6px;
}

.form .form-item .form-option.textfield.big {
    width: 100%;
}

.form .form-item .form-option.textfield.small {
    width: 150px;
}

.form .form-item .form-option.textfield .country-code {
    border: none;
}

.form .form-item .form-option.textfield input {
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    padding: 0 8px;
}

.form .form-item .form-option.select select {
    width: 324px;
    height: 32px;
    border: none;
    padding: 0 8px;
    background-color: white;
}

.form .column {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 12px;
}

.dashboard .right {
    width: 40%;
    margin-right: 48px;
    margin-left: 24px;
}

.dashboard .right h2 {
    margin: 0;
}

.dashboard .right .summary-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.dashboard .right .summary-item p {
    margin: 0;
}

.dashboard .right .total {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 16px 0px;
}

.dashboard .right .checkout {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.dashboard .right .checkout .checkout-button {
    width: 100%;
    height: 48px;
    background-color: #0047FF;
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.dashboard .right .cart {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.dashboard .right .cart-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 8px 0;
}

.dashboard .right .cart-item img {
    margin-right: 16px;
}

.dashboard .right .cart-item p {
    margin: 0;
}

.dashboard .right .cart-item .cart-name {
    font-weight: bold;
}

.dashboard .right .cart-item .cart-size {
    color: grey;
}

.dashboard .right .cart-item .cart-quantity {
    color: grey;
}

.dashboard .right .cart-item .cart-price {
    font-weight: bold;
}

.dashboard .right .checkout {
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
}

.text.grey {
    color: rgba(0, 0, 0, 0.75);
}

.text.bold {
    font-weight: bold;
}

.text.blue {
    color: #0047FF;
}

.flex {
    display: flex;
}

.flex.center-y {
    justify-content: center;
}

.flex.center-x {
    align-items: center;
}

.text.margin-right {
    margin-right: 8px;
}